<div class="jumbotron">

  <!-- the input form for scores -->
  <p class="lead">
    Add your latest game to the leaderboard
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Add<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<!-- statistics -->
<div class="row marketing">
  <p clas="lead"><span>1.223</span> games have been played by <span>12</span> players scoring <span>123</span> goals.</p>

  <div class="col-md-6">
    <p class="lead"><h3>Best players <small>And upcoming stars</small></h3></p>

    <table class="table">
      <tr>
        <th>Name</th>
        <th>Wins</th>
        <th>Goals</th>
        <th>Games played</th>
      </tr>
      <tr>
        <td>ABC</td>
        <td>122</td>
        <td>22</td>
        <td>12</td>
      </tr>
      <tr>
        <td>sC</td>
        <td>121</td>
        <td>23</td>
        <td>122</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Busiest days of the week</h3>
  </div>
</div>
